# UserSettings
ProjectAlpha/UserSettings

# Luban
Tools/Luban/
Tools/Luban.ClientServer/
Configs/.cache.meta
GenerateDatas/

# FileServer
Tools/FileServer/AssetRoot
Tools/FileServer/Default_0

# Project
ProjectAlpha/ProjectSettings/CommonBurstAotSettings.json
ProjectAlpha/ProjectSettings/BurstAotSettings_StandaloneWindows.json
ProjectAlpha/Assets/AssetRaw/DLL
